.bestOfferImageContainer::-webkit-scrollbar {
    display: none;
}

.bestOfferImageContainer>img {
    margin: 0rem 0.6rem;
}

.onYourMind::-webkit-scrollbar {
    display: none;
}

.onYourMind>img, .hotel {
    margin: 0rem 0.7rem;
}

.hotel{
    transition: 0.2s all ease;
}

.hotel:hover {
    transform: scale(0.95);
}